.nav:hover>ul {
    display: block;
}

.sub-nav {
    display: none;
}

.header {
    background-color: burlywood;
    position: sticky;
    top: 0px;
}

.bg-burlywood:hover {
    background-color: rgb(230, 174, 102);
    color: black;
}

.text-burlywood > div > ul > li {
    font-weight: 100;
}
.text-burlywood > div > ul > li:hover {
    color: burlywood;
}