.nav:hover>ul {
    display: block;
}

.sub-nav {
    display: none;
}

.header {
    background-color: burlywood;
    position: sticky;
    top: 0px;
}

.bg-burlywood {
    background-color: burlywood;
}

.text-burlywood > div > ul > li:hover {
    color: burlywood;
}